.about{
    height: 70vh;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    margin: 0 auto;
}
.left-about .about-headline {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Space Mono', monospace;
    margin-bottom: 15px;
}
.left-about .about-headline > div{
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.left-about .about-headline > div h2{
    white-space: nowrap;
}
.left-about .about-headline > div > span{
    color: #64ffda;
}
.left-about .about-headline span:last-child {
    opacity: 0.5;
    width: 100px;
    height: 1px;
    background-color: #ccd6f6;
}
.left-about p{
    font-family: 'Space Mono', monospace;
    text-align: justify;
    margin-bottom: 30px;
    opacity: .8;
}
.left-about p > span{
    color: #64ffda;
    white-space: nowrap;
}
.left-about ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0 15px;
    margin-bottom: 15px;
    padding: 5px;
}
.left-about ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}
.left-about ul li::after{
    content: "▹";
    position: absolute;
    left: 0px;
    color: #64ffda;
    font-size: 14px;
    line-height: 20px;
}
.skills{
    display: flex;
    width: 100%;
    align-items: center;
}
.right-about{
    position: relative;
    max-width: 300px;
}
.wrapper-about{
    box-shadow: 0 10px 30px -15px #0a192f;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: #64ffda;
    overflow: hidden;
}
.wrapper-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    display: block;
}
@media (max-width: 1100px){
    .about{
        height: fit-content;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .skills{
        flex-direction: column;
        justify-content: center;
    }
    .left-about p{
        max-width: 100%;
    }
    .right-about{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 768px){
    .about{
        height: fit-content;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .skills{
        flex-direction: column;
        justify-content: center;
    }
    .left-about p{
        max-width: 100%;
    }
    .right-about{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
}
