.experience{
    padding: 0 10%;    
}
.timeline-controlstyles__TimelineNavWrapper-sc-1apb8f9-0{
    display: none !important;
}

.timeline-card-contentstyles__TimelineCardTitle-sc-d7qjm1-3 > a{
    font-family: 'Poppins' , sans-serif;
    color: black !important;
}
.card-sub-title{
    font-family: 'Poppins' , sans-serif;
}
p.timeline-card-contentstyles__TimelineContentDetails-sc-d7qjm1-4{
    text-align: justify;
    font-family: 'Space Mono',sans-serif;
    word-spacing: wrap !important;
}
.dWNZQD{
    font-family: 'Space Mono',sans-serif !important;
    color: #e6f1ff !important ;
    text-align: center !important;
    overflow: unset !important;
}
.dWNZQD.active{
    font-family: 'Space Mono',sans-serif !important;
    background: #233554 !important;
    color: #e6f1ff !important;
    text-align: center !important;   
}
.hEUqCq.active{
    font-family: 'Space Mono',sans-serif;
    background: #233554 !important;
    color: #e6f1ff !important;
    text-align: center !important;   
}
.hEUqCq{
    font-family: 'Space Mono',sans-serif !important;
    color: #e6f1ff !important ;
    text-align: center !important;
    overflow: unset !important;
}
.igUvje:not(.using-icon).active::after {
    background: #64ffda !important;
}
.igUvje:not(.using-icon){
    background-color: #e6f1ff !important;
}
.timeline-card-contentstyles__ShowMore-sc-d7qjm1-7 > span{
    font-family: 'Poppins' , sans-serif;
    color: black !important;
}
.hEDaCh:not(.using-icon) {
    background-color: #e6f1ff !important;
}
.hEDaCh:not(.using-icon).active::after {
    background: #64ffda !important;
}
@media(max-width:768px) {
    .experience{
        padding: 0; 
    }
    .specialCase{
        padding-left: 10% !important;
    }
}