.left{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.left ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
.left ul li a i{
    font-size: 18px;
    transition: .5s;
}
.left ul li:hover a i {
    color: #64ffda;
    transform: translateY(-5px);
}
.left ul li span {
    display: block;
    width: 2px;
    height: 70px;
    background-color: #e6f1ff;
}
@media (max-width: 1400px){
    .left{
        display: none;
    }
}